<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <%- include('../sidebar') %>
        <ul>
            <li>Total Users: <%= stats.etudiants %></li>
          
          </ul>
<!--        
        <main class="content">
            <div class="stats">
                <div class="stat-item">35 students</div>
                <div class="stat-item">35 Test</div>
                <div class="stat-item">2 Requests</div>
            </div>
            <h2>List of students</h2>
            <div class="students-list">
                <div class="student-item">
                    <i class="icon-student"></i> dhjrskykyk
                    <div class="actions">
                        <i class="icon-edit"></i>
                        <i class="icon-delete"></i>
                    </div>
                </div>
              
            </div>
        </main> -->
    </div>
</body>
</html>
