<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="container">
        <%- include('../sidebar') %>
       
        <main class="content">
            <div class="stats">
                <div class="stat-item"><span><i class='bx bxs-user'></i></span><h2><%= stats.etudiants %> students</h2></div>
                <div class="stat-item"><span><i class='bx bx-detail'></i></span><h2>35 Test</h2></div>
                <div class="stat-item"><span><i class='bx bx-detail'></i></span><h2><%= topics.topics %> topics</h2></div>
                <div class="stat-item"><span><i class='bx bx-message-rounded-error'></i></span><h2>35 Request</h2></div>
            </div>
            <div class="students-list">
                <h2>List of students</h2>
               
                <div class="student-item">
                      <% students.forEach(student => { %>
                    <div class="actions">
                       
                        <i class='bx bxs-user'></i> <p><%= student.name %></p>
                        
                    </div>
                 
                     <% }) %>
                </div>
             
            </div>
        </main>
    </div>
</body>
</html>
