<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (students && students.length> 0) { %>
        <% students.forEach((student, index)=> { %>
            <p>
                <%= student.name %> (<%= student.prenom %> )
            </p>
            <% }); %>

                <% } else { %>
                    <p>No quizzes found.</p>
                    <% } %>
</body>

</html>