<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add Student</title>
    <style>
        .container {
            width: 100%;
            max-width: 100vw;
            /*justify-content: center;*/
            /*padding: 34px;*/
        }

        h2 {
            font-family: sans-serif;
            text-align: center;
            font-size: 24px;
            color: #003b04;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            margin-left: 34px;
            width: 250px;
        }

        .inputs div {
            margin-bottom: 15px;
        }

        .inputs input {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #88daab;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
            transition: border 0.3s ease;
        }

        .inputs input:focus {
            border-color: #4CAF50;
            outline: none;
        }

        button {
            padding: 12px 20px;
            background-color: #4CAF50;
            color: #fff;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 15px;
        }

        button:hover {
            background-color: #155f09;
        }

        @media (max-width: 768px) {
            .container {
                /*padding: 15px;*/
            }
        }
    </style>
</head>
<body>
<div class="container">
    <%- include('../sidebar') %>

    <main class="content">

        <div class="students-list">
            <h2>List of students</h2>
            <div class="student-items">
                <% students.forEach(student => { %>
                    <div class="student-item">
                        <i class='bx bxs-user'></i>
                        <p><%= student.name %></p>
                    </div>
                <% }) %>
            </div>

            <!-- Button to add more students -->
            <div class="add-student-btn">
                <button onclick="addStudent()">Add More Students</button>
            </div>
        </div>
    </main>
</div>

<script>
    function addStudent() {

        window.location.href = '/formateur/addStd';
    }
</script>

<script src="/js/student.js"></script>
</body>
</html>
